/* font */
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: url(../font/pretendard/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: url(../font/pretendard/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: url(../font/pretendard/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: url(../font/pretendard/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: url(../font/pretendard/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: url(../font/pretendard/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: url(../font/pretendard/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: url(../font/pretendard/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: url(../font/pretendard/Pretendard-Thin.woff) format('woff');
}
/* 코레일 둥근 서체 */
@font-face {
    font-family: 'KorailRoundGothicBold';
    src: url(../font/korail/KorailRoundGothicBold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'KorailRoundGothicMedium';
    src: url(../font/korail/KorailRoundGothicMedium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'KorailRoundGothicLight';
    src: url(../font/korail/KorailRoundGothicLight.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
	font-family: 'KORAIL';
	font-weight: regular;
	src: url(../font/korail/KORAIL.ttf) format('ttf');
}

@font-face {
    font-family: 'KORAILCondensed-Regular';
    src: url(../font/korail/KORAILCondensed-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat/Montserrat-VariableFont_wght.ttf);
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat/Montserrat-Thin.ttf);
	font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat/Montserrat-ExtraLight.ttf);
	font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat/Montserrat-Light.ttf);
	font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat/Montserrat-Regular.ttf);
	font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat/Montserrat-Medium.ttf);
	font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat/Montserrat-SemiBold.ttf);
	font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat/Montserrat-Bold.ttf);
	font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat/Montserrat-ExtraBold.ttf);
	font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat/Montserrat-Black.ttf);
	font-weight: 900;
    font-style: normal;
}